@import url(https://fonts.google.com/specimen/Poppins);

*{
    margin: 0rem;
    padding: 0rem;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 700px;
    min-height: 100vh;
    background-color: blue;;

}

header{
    width: 1395px;
    height: 200px;
    background-color: hsl(0, 0%, 98%);
    text-align: center;;
}
.title-one{
    
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 30px;
    color: hsl(229, 6%, 66%);

    font-weight: 200;
}
.title-two{
    font-size: 30px;
    font-weight: 600px;
    padding-bottom: 20px;

}
.def{
    width: 460px;;
    text-align: center;
    margin: auto;
    color: hsl(229, 6%, 66%);
    line-height: 1.5;
}
main{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 5px;
    margin: 40px;
    justify-content: center;

}